---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section>
		<h1>Contact</h1>
		<p>Siap mulai proyek? Ceritakan kebutuhanmu.</p>
		<ul>
			<li>Email: hello@createwithaji.com</li>
			<li>Instagram: @createwithaji</li>
		</ul>
	</section>
</Layout>
