---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section>
		<h1>Service</h1>
		<ul>
			<li>Brand strategy dan positioning.</li>
			<li>Visual identity dan desain sistem.</li>
			<li>Website desain dan development.</li>
			<li>Konten dan copywriting.</li>
		</ul>
	</section>
</Layout>
