<header class="site-header">
  <nav>
    <div class="brand">
      <p>Logo</p>
    </div>
    <div class="site-nav" aria-label="Navigasi utama">
      <a href="/">Beranda</a>
      <a href="/about">About</a>
      <a href="/service">Service</a>
      <a href="/blog">Blog</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px;
	z-index: 1000;
	position: fixed;
    top: 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px;
    max-width: 1200px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .site-nav {
    display: flex;
    gap: 24px;
  }
</style>
